.aggregatePanel div {
	display: inline-block;
}

.control-group {
	width:100%;
}

#tabs {
	position: absolute;
	margin-left: 0em;
	width: 65%;
	font-size: 1.2em;
}

#mainStyle {
	width: 35%;
	margin-right: 0em;
}

#tag_form {
	text-align: center;
}

#styleImg {
	width: 90%;
	height: auto;
}

#mainStyle h4 {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;

	background-color: #aecbbd;
	color: #fff;
	width: 90%;
	line-height: 22px;
	padding: 15px 10px 15px 10px;
	margin-bottom: 0;
	float: left;
	
	letter-spacing: 1px;
}

input[text="input"] {
	
}

