
div.aggregatePanel {
	width: 100%;
	display: inline-block;
}

.control-group {
	width:100%;
}
#describe_tags, #provide_links {
	font-size: 15px !important; 
	text-transform: uppercase;
/*	background-color: #f0f0f0;*/

}
#describe_tags:disabled, #provide_links:disabled {
	background-color: #fff;

}
#describe_tags:hover, #provide_links:hover {
	font-size: 15px !important; 
	background-color: #6bbab1;
	color: #fff;
	cursor: pointer;
}
#describe_tags:active, #provide_links:active {
	font-size: 15px !important; 
	background-color: #d9dada;
	cursor: pointer;
}

#tabs {
	margin-left: 0em;
	width: 70%;
	font-size: 1.2em;
	float: right;
}

#mainStyle {
	width: 30%;
	margin-right: 0em;
	float: left;
}

#tag_form {
	text-align: center;
}

#styleImg {
	width: 90%;
	height: auto;
}

#mainStyle h4 {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;

	background-color: #aecbbd;
	color: #fff;
	width: 90%;
	line-height: 22px;
	padding: 15px 10px 15px 10px;
	margin-bottom: 0;
	float: left;
	
	letter-spacing: 1px;
}

.linkInput {
	width: 30%;
}

.tagInput {
	width: 30%;
}

.center{
	width: 100%;
	padding: 1.5em;
	text-align: center;
}

.formBtn {
  width: 50%;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  background-color: #a6cebe;
  border: none;
  padding: 10px;
}

.formBtn:hover {
	color: #fff;
	background-color: #6ebab1;
}

.control-group {
	width: 100%;
	text-align: center;
}