.aggregatePanel div {
	display: inline-block;
}

.control-group {
	width:100%;
}

#tabs {
	position: absolute;
	margin-left: 0em;
	width: 50%;
	font-size: 1.2em;
}

#mainStyle {
	width: 30%;
	margin-right: 0em;
}

#tag_form {
	text-align: center;
}

#styleImg {
	width: 90%;
	height: auto;
}

#mainStyle h4 {
	font-family: 'Lato';
	background-color: #a6cebe;
	color: #fefefe;
	width: 90%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 0;
	text-align: center;
	float: left;
	font-size:1em;
	text-transform: uppercase;
}

.linkInput {
	width: 23%;
}

.tagInput {
	width: 50%;
}

.center{
	width: 100%;
	padding: 1.5em;
	text-align: center;
}

.formBtn {
  width: 50%;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
   background-color: #a6cebe;
   border: none;
}

.formBtn:hover {
	 color: #fff;
	background-color: #6ebab1;
}