#home {
	background-color: #D8E5DF;
	text-align: center;
}
#home-wrapper {
	margin-top: 5%;
}

#box-wrapper {
	width: 100%;
}
h1 {
	font-family: 'Raleway';
	font-weight: 500;
	color: #6bbab1;
	text-align: center;
	/*text-transform: lowercase;*/
	letter-spacing: 2px;
	font-size: 2em;
	padding-bottom: 10px;
}
ul {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
li {
	padding: 20px;
	display: inline-block;
}
#submit, #tag-link, #rate, #trending, #ratings {
	font-family: 'Raleway';
	font-weight: 300;
	width: 170px;
	height: 140px;
	background-color: #aecbbd;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	padding: 50px 20px 0px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(191, 191, 191, 0.25);
	-moz-box-shadow:    7px 7px 5px 0px rgba(191, 191, 191, 0.25);
	box-shadow:         7px 7px 5px 0px rgba(191, 191, 191, 0.25);
}
#submit:hover, #tag-link:hover, #rate:hover,
#submit:active, #tag-link:active, #rate:active, 
#trending:hover, #trending:active, #ratings:hover,
#ratings:active {
	background-color: #6bbab1;
	color: #fff;
	cursor: pointer;
}
