#home {
	background-color: #fff; /* #D8E5DF */
	text-align: center;
}
#home-wrapper {
	margin-top: 5%;
}

#box-wrapper {
	width: 100%;
}
h1 {
	font-family: 'Raleway';
	font-weight: 600;
	color: #5F3D6F; /* #917C9B; /* #6ebab1 */
	text-align: center;
	/*text-transform: lowercase;*/
	letter-spacing: 0px;
	font-size: 2em;
	padding-bottom: 0px;
}
#tagline {
	font-weight: 400;
	font-size: 1.2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding-bottom: 20px;
}
ul {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
li {
	padding: 20px;
	display: inline-block;
}
#submit, #tag-link, #rate, #trending, #ratings {
	font-family: 'Raleway';
	font-weight: 200;
	width: 120px;
	height: 105px;
	background-color: #917C9B; /* #aecbbd */
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	padding: 50px 20px 0px 20px;
	text-transform: lowercase;
	letter-spacing: 1px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(191, 191, 191, 0.25);
	-moz-box-shadow:    7px 7px 5px 0px rgba(191, 191, 191, 0.25);
	box-shadow:         7px 7px 5px 0px rgba(191, 191, 191, 0.25);
}
#submit:hover, #tag-link:hover, #rate:hover,
#submit:active, #tag-link:active, #rate:active, 
#trending:hover, #trending:active, #ratings:hover,
#ratings:active {
	background-color: #BDAEC5; /* #6bbab1 */
	color: #fff;
	cursor: pointer;
}
