


h1, h2 {
	font-family: 'Raleway';
	text-align: center;
	letter-spacing: 1px;
}
h1.rate {
	font-size: 1.2em;
	letter-spacing: 1px;
	/*color: #6bbab1;*/
	color: #787879;
	float: left;
	padding-right: 5%;
	width: 80%;
	font-weight: 400;
}
h2 {
	font-weight: 300;
	clear: both;
	font-size: 1.2em;
	color: #787879;

}
#articleChoice {
	margin: 1em;
	margin-bottom: 2em;
	font-size: 1.4em;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: right;
	position: absolute;
}
.center {
	/*display: inline-block;*/

	padding-bottom: 20px;
}


#ratePanel {
	padding-top: 0;
	position: relative;
	margin-bottom:2em;
	margin-top: 0;
	font-weight: 500;
}

#ratePanel div {
	display: inline-block;
}

#mainStyle {
	width: 50%;
	margin-left: 5%;
	margin-right: 0em;
}

#mainStyle h4 {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;

	background-color: #aecbbd;
	color: #fff;
	width: 90%;
	line-height: 22px;
	padding: 15px 10px 15px 10px;
	margin-bottom: 0;
	float: left;
	
	letter-spacing: 1px;
}

#styleImg {
	width: 90%;
	height: auto;
}

#articleImg {
	width: 100%;
	height: auto;
	margin: 1em;
	border-style: solid;
	border-color: #71BBB1;
	border-width: 0.5em;
}

#articleImg:hover {
	-webkit-filter: brightness(50%);
}

#articles {
	font-family: 'Lato';
	position: absolute;
	margin-left: 0em;
	width: 35%;
	font-size: 1.2em;
}

#choices {
  margin-top: 5em;
  margin-left: 2em;
  padding: 1em;
  font-size: 0.7em;
}



.urlButt {
	padding: 1em;
	background-color: #71BBB1;
	color: #fefefe;
	width: 100%;
	margin-bottom: 2em;
	font-family: 'Lato';
	border:none;
	word-wrap: break-word;
	text-transform: uppercase;
	font-size: 1.3em;
	
}

.urlButt:hover {
	background-color: #a6dbd4;
}

.urlChoice {
	font-size: 1.3em;
	text-align: center;
	width: 100%;
	padding: 0.5em;
	margin-top: 1em;
	background-color: #a6cebe;
}
/*footer {
  font-family: 'Raleway';
  position: absolute;
  bottom: -55%;
  padding-bottom: 20px;
}
*/