h1.rate {
	font-family: 'Raleway';
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.2em;
	letter-spacing: 1px;
	/*color: #6bbab1;*/
	color: #787879;
	float: left;
	width: 100%;
	font-weight: 400;
}
#articleChoice {
	margin: 1em;
	margin-bottom: 2em;
	font-size: 1.4em;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: right;
	position: absolute;
}
.center {
	/*display: inline-block;*/
	padding-bottom: 20px;
}
.styleEntry {
	width: 100%;
	display: inline-table;
}


#ratePanel {
	padding-top: 0;
	position: relative;
	margin-bottom:2em;
	margin-top: 0;
	font-weight: 500;
}
#ratePanel div {
	display: inline-block;
}

#mainStyle img{
	width: 30%;
	margin-left: 5%;
	margin-right: 0em;
}
/* photo description */
#mainStyle h4 {
	width: 30%;
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	background-color: #BDAEC5; /* #aecbbd */
	color: #fff;
	line-height: 22px;
	padding: 15px 10px 15px 10px;
	margin-bottom: 0;
	float: left;
	letter-spacing: 1px;
}
#styleImg {
	width: 30%;
	height: auto;
	float: left;
	margin-right: 1em;
}



#choices {
	font-family: 'Raleway';
	font-weight: 300;
	margin-top: 5em;
	margin-left: 2em;
	padding: 1em;
	font-size: 0.7em;
	/*background-color: #e6e7e7;*/
}
h4 {
	font-family: 'Raleway';
	font-weight: 300;
	background-color: #BDAEC5; /* #aecbbd */
	color: #fff;
	text-align: center;
}

#articleImg {
	width: 30%;
	height: auto;
	background-color: #e6e7e7;
	margin: 5px;
	padding: 3px;
	border: 3px solid #e6e7e7;
}

#articleImg:hover {
	background-color: #917C9B; /* #6bbab1 */
	border: 3px solid #917C9B; /* #6bbab1 */
	opacity: .5;
	cursor: pointer;
	/*-webkit-filter: brightness(50%);*/
}
#articles {
	font-family: 'Raleway';
	font-weight: 300;
	position: absolute;
	margin-left: 0em;
	width: 35%;
	font-size: 1.2em;
}

.articlesEntry {
	width: 65%;
}


.urlButt {
	padding: 1em;
	background-color: #917C9B; /* #71BBB1 */
	color: #fefefe;
	width: 100%;
	margin-bottom: 2em;
	font-family: 'Lato';
	border:none;
	word-wrap: break-word;
	text-transform: uppercase;
	font-size: 1.3em;
}
.urlButt:hover {
	background-color: #BDAEC5; /* #a6dbd4 */
}
.urlChoice {
	font-size: 1.3em;
	text-align: center;
	width: 100%;
	padding: 0.5em;
	margin-top: 1em;
	background-color: #BDAEC5; /* #a6cebe */
}
/*footer {
  font-family: 'Raleway';
  position: absolute;
  bottom: -55%;
  padding-bottom: 20px;
}
*/